In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maceio,BR,2022-09-26 00:52:39,-9.6658,-35.7353,72.84,94,20,4.61
1,1,Hameenlinna,FI,2022-09-26 00:52:39,60.9960,24.4643,40.14,94,100,4.03
2,2,Landeck,AT,2022-09-26 00:52:40,47.1301,10.5636,48.94,93,100,1.90
3,3,Kulhudhuffushi,MV,2022-09-26 00:52:40,6.6221,73.0700,82.29,75,79,12.39
4,4,Atuona,PF,2022-09-26 00:52:41,-9.8000,-139.0333,77.32,76,39,21.05

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure()

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed

locations = city_data_df[["Lat", "Lng"]]

winds = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=winds, 
                                dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add the a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kulhudhuffushi,MV,2022-09-26 00:52:40,6.6221,73.0700,82.29,75,79,12.39
4,4,Atuona,PF,2022-09-26 00:52:41,-9.8000,-139.0333,77.32,76,39,21.05
6,6,Aripuana,BR,2022-09-26 00:52:42,-9.1667,-60.6333,80.47,43,1,1.59
10,10,Gorontalo,ID,2022-09-26 00:52:43,0.5412,123.0595,85.06,57,99,6.85
13,13,Kapaa,US,2022-09-26 00:52:46,22.0752,-159.3190,86.11,70,0,8.05
14,14,Acapulco,MX,2022-09-26 00:49:30,16.8634,-99.8901,82.22,83,75,4.61
22,22,Omboue,GA,2022-09-26 00:52:50,-1.5746,9.2618,75.63,87,100,9.13
27,27,Kirakira,SB,2022-09-26 00:52:53,-10.4544,161.9205,82.87,76,31,3.13
33,33,Uribia,CO,2022-09-26 00:52:56,11.7139,-72.2660,82.17,77,100,6.91
35,35,Vaini,TO,2022-09-26 00:52:57,-21.2000,-175.2000,78.96,83,75,9.22

In [12]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3   Kulhudhuffushi      MV     82.29   6.6221   73.0700
4           Atuona      PF     77.32  -9.8000 -139.0333
6         Aripuana      BR     80.47  -9.1667  -60.6333
10       Gorontalo      ID     85.06   0.5412  123.0595
13           Kapaa      US     86.11  22.0752 -159.3190
14        Acapulco      MX     82.22  16.8634  -99.8901
22          Omboue      GA     75.63  -1.5746    9.2618
27        Kirakira      SB     82.87 -10.4544  161.9205
33          Uribia      CO     82.17  11.7139  -72.2660
35           Vaini      TO     78.96 -21.2000 -175.2000

In [14]:
# Set parameters to search for a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except(IndexError):
        
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kulhudhuffushi,MV,82.29,6.6221,73.0700,Haajy Guest House 1
4,Atuona,PF,77.32,-9.8000,-139.0333,Villa Enata
6,Aripuana,BR,80.47,-9.1667,-60.6333,
10,Gorontalo,ID,85.06,0.5412,123.0595,Maqna Hotel by Prasanthi
13,Kapaa,US,86.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Acapulco,MX,82.22,16.8634,-99.8901,HS Hotsson Smart Acapulco
22,Omboue,GA,75.63,-1.5746,9.2618,Hotel Olako
27,Kirakira,SB,82.87,-10.4544,161.9205,SanBiz Lodge
33,Uribia,CO,82.17,11.7139,-72.2660,Hotel Uribia
35,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))